.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    display: block;
    width: 90%;
    padding: 1.5rem 2rem;
    border: none;
    background-color: rgba($color-white, .5);
    border-bottom: 3px solid transparent;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }
    &:focus:invalid {
      border-bottom-color: $color-secondary-dark;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-light-3;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: .7rem;
    margin-left: 2rem;
    display: block;
    transition: all .5s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem)
  }

  // checkbox
  &__radio-group {
    width: 49%;
    display: inline-block;
    @include respond(phone) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }
  
  &__radio-label {
    font-size: $default-font-size;
    position: relative;
    padding-left: 4.5rem;
    cursor: pointer;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    border: 5px solid $color-primary;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -.4rem;
    left: 0;
    &::after {
      content: '';
      width: 1.3rem;
      height: 1.3rem;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0;
      transition: opacity .3s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}